.Newaz{
    width: 500px;
    height: 450px;
    margin: auto;
    margin-top: 69px;
    padding-left: 41px;
}
.div-1{
    width: 80%;
    height: 20%;
    background: linear-gradient(#bc581c, #c27b36);
    box-shadow: inset -15px 0 #c15711;
    border-radius: 50% 50% 0 0;
    margin-left: 26px;
    position: relative;
}
.div-2 {
	width: 90%;
	height: 7%;
	margin: 2% auto;
	background: linear-gradient(#228c1d, #01ce50);
    border-radius: 20px;
    margin: 3px;
    margin-top: 10px;
}
.div-3{
    height: 12%;
    width: 80%;
    background: linear-gradient(#f08e40, #e27b36);
    margin: 2% auto;
    box-shadow: inset -15px 0 #c15711;
    border-radius: 0 0 30% 30%;
    margin-left: 25px;
    margin-top: 10px;
}
.dim-2{
    width: 80%;
    height: 3%;
    background: linear-gradient(#bf3813, #c45e38);
    margin: 2% auto;
    margin-right: 74px;
    margin-top: 9px;
}
.dim-3{
    width: 91%;
    height: 4.5%;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
    margin: 2% auto;
    margin-right: 74px;
    margin-top: 9px;
}
.dim-5{
    width: 82%;
    height: 8%;
    background: linear-gradient(#7f3608, #702e05);
    margin: 2% auto;
    margin-right: 70px;
    margin-top: 10px;
    border-radius: 25px;
}
.main{
    position: absolute;
    width: 10%;
    height: 15%;
    background-color: white;
    left:30%;
    top:50%;
    border-radius: 40%;
    transform: rotate(-20deg);
    box-shadow: inset -2px -3px #c9c9c9;
}
.main:after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -200%;
    top: -260%;
    border-radius: 40px;
    transform: rotate(60deg); 
    box-shadow: inset -1px 2px #c9c9c9;
}
.main::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 180%;
    top: -50%;
    border-radius: 40px;
    transform: rotate(60deg); 
    box-shadow: inset -1px -3px #c9c9c9;
}
.main2{
    position: absolute;
    width: 10%;
    height: 15%;
    background-color: white;
    content:"";
    left:65%;
    top:50%;
    border-radius: 40%;
    transform: rotate(10deg);
    box-shadow: inset -3px -0 #c9c9c9;
}
.main2::after{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    content:"";
    left:150%;
    top:-130%;
    border-radius: 40%;
    transform: rotate(90deg);
    box-shadow: inset 1px 3px #c9c9c9;
}